:root {
    --cor-primaria: #004101;
    --cor-secundaria: #FFBA58;
    --cor-terciaria: #FFFCFF;
  }
  
 
  * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  var(--cor-terciaria) !important;
     min-height: 100vh; 
}

header{
    background-color: var(--cor-primaria) !important;
    margin-bottom: 3%;
    color: #FFFCFF;
}
  .title_principal{
    text-align: center;
    margin-bottom: 5%;
    
  }

  .informacoes{
    padding-top: 5%;
   
  }
  .secoes{
    display: flex;
    gap: 20% !important;
    width: 100%;
  }

  .secao_informacoes{
    width: 40% !important;
   
    border-top: 8px solid var(--cor-primaria);
    border-radius: 10%;
    box-shadow: 2px 2px 8px 0px #004101;



   
  }



  .secao_informacoes_texts{
    display: flex;
    padding: 3%;
    border-top:1px solid var(--cor-primaria);
  

  }

  .texts_info_rotulo{
   
    padding:1% 5%;
    font-family: 'Times New Roman', Times, serif;
   
    color:black;
    width: 40%;

  }

  .texts_info_values{

    padding:1% 5%;
    font-family: 'Times New Roman', Times, serif;
  
    color: rgb(1, 1, 1);
    width: 50%;
  }

.secao_processos{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5%;

  
  
  
}

.celulas_scroll{
  
  height: 200%;
  max-height: 200%;
  padding: 2%;
  border: 4px solid var(--cor-secundaria);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap:2%
}

.exibir_processos{
  border: 1px solid #004101;
  
  align-content: center;


}




.btns {
  display: flex;
  align-items: flex-start; /* Alinha os itens ao início */
  gap: 48%;
  padding-top: 1%;
  padding-left: 15%;
}



