:root {
    --cor-primaria: #004101;
    --cor-secundaria: #FFBA58;
    --cor-terciaria: #FFFCFF;
  }
  
 
  * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  var(--cor-terciaria) !important;
     min-height: 100vh; 
}

header{
    background-color: var(--cor-primaria) !important;
    margin-bottom: 3%;
    color: #FFFCFF;
}
  .title_principal{
    text-align: center;
    
  }

  .informacoes{
    padding-top: 5%;
   
  }

  .secao_informacoes{
    width: 40% !important;
  
   border-top: 5px solid var(--cor-secundaria);


   
  }

  .title_secao_informacao{
    
  }

  .secao_informacoes_texts{
    display: flex;
  

  }

  .texts_info_rotulo{
    border: 2px solid #e3e3e3;
    padding:1% 5%;
    font-family: 'Times New Roman', Times, serif;
   background-color:#004101;
    color: rgb(255, 255, 255);
    width: 29%;
  }

  .texts_info_values{
    border: 2px solid #e3e3e3;
    padding:1% 5%;
    font-family: 'Times New Roman', Times, serif;
    background-color:#004101;
    color: rgb(255, 255, 255);
    width: 40%;
  }